In [3]:
import pandas as pd
import sqlite3

In [ ]:
def read_sqlite_with_pandas_query(db_path, query):
    # Connect to the SQLite database
    conn = sqlite3.connect(db_path)
    
    try:
        # Execute the query and load into a DataFrame
        df = pd.read_sql_query(query, conn)
        return df
    except Exception as e:
        print(f"An error occurred: {e}")
    finally:
        # Close the connection
        conn.close()

read_sqlite_with_pandas_query("example.db","SELECT * FROM users")

   id username             email
0   1  johndoe  john@example.com